<h1>Достижения (Achievements)</h1>
<h3>Доступные ресурсы:</h3>
<p>Время: {{(achievementPoints|async)?.time}}</p>
<p>Деньги: {{(achievementPoints|async)?.money}}</p>
<p>Энергия: {{(achievementPoints|async)?.energy}}</p>
<dx-button text="Добавить умение" (click)="addAchievement_Clicked($event)"></dx-button>
<add-achievement-popup [(visible)]="addAchievementPopupVisible" [achievements]="achievements" [snapshotAchievements]="snapshot_achievements"></add-achievement-popup>
<achievement-property-popup [achievement]="clickedAchievement" [(visible)]="achievementPropertyPopupVisible" [achievements]="achievements" [snapshotAchievements]="snapshot_achievements"></achievement-property-popup>
<br>
<achievement-view
	[achievements]="achievements"
	[snapshotAchievements]="snapshot_achievements"
	(achievementClick)="achievement_click($event)"
	(achievementTextClick)="achievementText_click($event)"
></achievement-view>